---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projekte">
  <h1>Alle Projekte</h1>
  <p>Sichtbar ohne Login</p>
  <p>Hier werden alle öffentliche Projekte und Projektinstanzen angezeigt</p>
</Layout>
