---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Dashboard">
  <h1>Dashboard Landing - TLDR Übersicht</h1>
  <p>Meine Instanzen, Meine Projekte (Abgaben/Submissions)</p>
  <p>Ab hier nur mit Login - Redirect if not logged in</p>
</Layout>
