---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projektinstanz-Details">
  <h1>Projektinstanz-Details (id)</h1>
  <p>Sichtbar nur mit Login</p>
  <p>
    Kann nur von dem Ersteller (mit Optionen zum konfigurieren), privilegierten
    Usern und den teilnehmenden Schülern gesehen werden.
  </p>
</Layout>
