---
import Layout from "@layouts/Layout.astro";
---

<Layout title="ProjectVentures">
  <h1>Marketing</h1>
  <p>Sichtbar ohne Login</p>
  <p>Ab hier nur mit Login - Offensichtlicher Login Button</p>
</Layout>
