---
import Layout from "@layouts/Layout.astro";
---

<Layout title="ProjectVentures">
  <h1>Marketing</h1>
  <p>Sichtbar ohne Login</p>
  <p>Ab hier nur mit Login - Offensichtlicher Login Button</p>
  <a href="/api/auth/login" class="text-fuchsia-700 hover:text-fuchsia-400"
    >Login</a
  >
</Layout>
