---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Meine Abgaben">
  <h1>Meine Abgaben zu Projektinstanzen</h1>
  <p>
    Eine Übersicht mit allen meinen Abgaben für Projektinstanzen (keine eigenen
    Projekte)
  </p>
  <p>Sichtbar nur mit Login</p>
</Layout>
